<div class="machine-container" [ngClass]="setStateClass()">
    @if(showIcon) {
        <div class="machine-icon">
            @if(isScale(type)) {
                <mat-icon>system_update_alt</mat-icon>
            }
            @if(isAttacher(type)) {
                <mat-icon>wysiwyg</mat-icon>
            }
            @if(isPacker(type)) {
                <mat-icon>credit_card</mat-icon>
            }
            @if(isCloser(type)) {
                <mat-icon>calendar_view_week</mat-icon>
            }
        </div>
    }
    <div class="machine-type">{{ type }}</div>
    <div class="machine-state">
        @if(isRunning(state)) {
            <mat-icon>settings_backup_restore</mat-icon>
        }
        @if(isAlarm(state)) {
            <mat-icon>info_outline</mat-icon>
        }
        @if(isWarning(state)) {
            <mat-icon>warning_amber</mat-icon>
        }
    </div>
</div>
